<!-- templates/core/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Homepage{% endblock title %}</title>

    {% compress css %}
    <link id="tw-css" rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}

    <script id="theme-toggle-js" src="{% static 'js/theme-toggle.js' %}"></script>
    <script id="htmx-js" src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script id="alpine-js" defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body>
    {% include 'core/components/navbar.html' %}
    <div class="container mx-auto mt-4">
        {% block content %}
        {% endblock content %}
    </div>

    <script id="flowbite-js" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
</body>

</html>